 body {
    background: #facc8c;
background: radial-gradient(circle, rgba(250, 204, 140, 0.36) 2%, rgba(255, 255, 255, 1) 47%, rgba(250, 204, 140, 1) 83%);
  }
  

/* #menuOpciones{
  display: none;
} */

#volver{
  display: none;
}

